
.header {
    font-family: 'Helvetica Neue',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 18px;
    background-color: white;
}

.sticky-header {
    position: sticky;
    top: 0;
}
.header-top, 
.header-bottom {
    padding: 0.5em;
}
.header-layout {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header-layout > * {
    flex-shrink: 0;
}
.header-layout #header__list {
    margin-right: 1em;
}

/*these are hidden for mobile */
.header-layout #header__tabletActions {
    display: none;
}



ul[role="list"] {
    display: flex;
    gap: 1em;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}


ul[role="list"] a:hover{
    text-decoration: underline;
  
   
}

.header-layout #header__tabletActions {
    justify-content: flex-end;
}

@media(min-width: 1025px){
    .header-layout #header__mobileActions {
        display: none;
    }

    .header-layout {
        justify-content: flex-start;
        gap: 1em;
    }

    .header-layout #header__list,
    .header-layout #header__tabletActions {
        display: flex;
    
    }
    .header-layout #header__tabletActions {
        margin-right: 0.5em;
    }

    .header-layout #header__list {
        margin-left: 1.5em;
        flex: 1;
        margin-right: 0;
    }

}


/* start of header-bottom */


.header-bottom-container {
    display: none;
    padding: 0.5em 1em; 
    max-width: 1440px;
    margin-inline: auto;
   
}

.header__sublist {
    margin-left: calc(65px + 1.5em + 0.5em);
}



.header-bottom #support-list {
    display: none;

}


ul[role="sublist"] {
   
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    gap: 1em;
}



ul[role="sublist"] a:hover {
    text-decoration: underline;

   
}

@media(min-width: 1025px){

    .header-bottom {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

    .header-bottom-container {
        display: block;
    
    }
}


/* main app 


*/
.app {
    max-width: 1440px;
    margin-inline: auto;
}

.app-layout {
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 1em;
   
}
.app .app-layout #app-image2 {
    display: none;
}

.app-image {
    flex-shrink: 0;
}

@media(min-width: 1024px){
    .app .app-layout #app-image2  {
        display: block;
    }




}

.footer {
    font-family: 'Helvetica Neue',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
    font-size: 14px;
}

.footer-row {
    max-width: 1440px;
    margin-inline: auto;
    padding: 0.5em 1em;
    overflow: scroll;

}

.footer-layout {
    border-top: 1px solid #ccc;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.app-filler {
    max-width: 1410px;
    margin: 0.5em;
    padding: 1em;
    display: grid;
    place-items: center;
    font-size: 2em;
    color: white;
    background-color: rgba(0, 0, 0, 0.37);
    height: 500px;
}

