
.header {
    font-family: 'Helvetica Neue',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 18px;
    background-color: white;
}

.sticky-header {
    position: sticky;
    top: 0;

    background-color: white;
    z-index: 2;
}
.header-top, 
.header-bottom {
    padding: 0.5em;
}
.header-layout {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header-layout > * {
    flex-shrink: 0;
}
.header-layout #header__list {
    margin-right: 1em;
}
/*these are hidden for mobile */
.header-layout #header__tabletActions {
    display: none;
}



ul[role="list"] {
    display: flex;
    gap: 1em;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}


ul[role="list"] a:hover{
    text-decoration: underline;
  
   
}

.header-layout #header__tabletActions {
    justify-content: flex-end;
}

@media(min-width: 1025px){
    .header-layout #header__mobileActions {
        display: none;
    }

    .header-layout {
        justify-content: flex-start;
        gap: 1em;
    }

    .header-layout #header__list,
    .header-layout #header__tabletActions {
        display: flex;
    
    }
    .header-layout #header__tabletActions {
        margin-right: 0.5em;
    }

    .header-layout #header__list {
        margin-left: 1.5em;
        flex: 1;
    }

}


/* start of header-bottom */


.header-bottom-container {
    display: none;
    padding: 0.5em 1em; 
    max-width: 1440px;
    margin-inline: auto;
   
}

.header__sublist {
    margin-left: calc(65px + 1.5em + 0.5em);
}



.header-bottom #support-list {
    display: none;

}


ul[role="sublist"] {
   
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    gap: 1em;
}



ul[role="sublist"] a:hover {
    text-decoration: underline;

   
}

@media(min-width: 1025px){

    .header-bottom {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

    .header-bottom-container {
        display: block;
    
    }
}


.app {
    margin: 2em 0;
    font-family: 'Helvetica Neue', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
    font-size: 15px;
  }

  
  
.item-container {
            
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 1em;
}

.item {
    padding: 1em 1em 1.5em;
    width: 100%;
    min-width: 125px;
    min-height: 125px;
}

.item:nth-child(even) .item-image{
    background-color: rgba(0, 0, 0, 0.3);
}

.item:nth-child(odd) .item-image{
    background-color: rgba(0, 0, 0, 0.5);
}

.item-title, .item-price, .item-sizes {
    display: none;
}

@media(min-width: 1025px){
    .item-container {
        grid-template-columns: repeat(4, 1fr);
    }

    .item-title, .item-price, .item-sizes {
        display: block;
    }
}


.item-image {
    width: 100%;
    aspect-ratio: auto 4/3;
    position: relative;
    background-color: black;
    transition: background-color 0.3s ease;

}

.item-image::before {
    position: absolute;
    top: 50%;
    left: 47%;
    transform: translate(-50%, -50%);
    
    content: url('./logo.svg');
   
    opacity: 0;
}

.item-title {
    font-weight: 600;
    text-transform: uppercase;
}
.item-sizes {
    opacity: 0;
    height: 15px;
}


#item-link:hover  .item-sizes {
    min-height: inherit;
    opacity: 1;
}

#item-link:hover .item-image {
    background-color: rgba(105, 105, 105, 0.2);
}
#item-link:hover .item-image::before {
    opacity: 1;
}

#item-sizes__mr {
    margin-right: 10px;
}

#item-sizes__mr:hover {
    font-weight: 600;
}

/* start of footer */

.footer {
    font-family: 'Helvetica Neue',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
    font-size: 14px;
}

.footer-row {
    max-width: 1440px;
    margin-inline: auto;
    padding: 0.5em 1em;
    overflow: scroll;
}

.footer-layout {
    border-top: 1px solid #ccc;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}


/* extra filler stuff */

.app-filler {
    max-width: 1410px;
    margin: 0.5em;
    padding: 1em;
    display: grid;
    place-items: center;
    font-size: 2em;
    color: white;
    background-color: rgba(0, 0, 0, 0.37);
    height: 500px;
}



/* tester */

.item-size {
    opacity: 0;
    height: 30px;
}

#app-item-link1:hover  .item-size {
    min-height: inherit;
    opacity: 1;
}

#app-item-link1:hover .shop-item__image {
    background-color: rgba(105, 105, 105, 0.2);
}

#sizeMargin {
    margin-right: 10px;
    width: 25px;
    font-weight: 600;
}

#sizeMargin:hover {
    text-decoration: underline;
}
